<%- include('header') %>

<main>
  <h1>Welcome to ADFidelidadeLand</h1>
  <p>Experience the thrill of a lifetime at ADFidelidadeLand, the ultimate theme park destination!</p>
  <a href="/areas" class="btn btn-primary">Explore Our Themed Areas</a>
</main>

<%- include('footer') %>
